{
  "extends": "eslint:recommended",

  "env": {
    "node":true,
    "browser": true,
    "serviceworker": true
  },
  "globals": {
    "firebase": true
  },
  "rules": {
    "no-extra-boolean-cast": 1,
    "no-unused-vars": 1,
    "global-require": 1,
    "no-console": 1,
    "no-empty": 1,
    "quotes": [0, "double"]
  }
}
